<div class="flex gap-14">
	<div class="w-fit p-8 rounded-2xl bg-sky-100">
		<div class="text-2xl font-bold self-center">
			<span class="text-primary">STUDENTI</span>
			<span class=""> SVĚTU</span>
		</div>
		<div class="prose-lg 2xl:prose-xl">
			<div class="mt-12">
				<h2 class="!m-0 font-bold leading-none">Nejprve web zdarma a <span class="font-medium">nezávazně vytvoříme.</span></h2>
			</div>
			<div class="mt-6">
				<p class="!m-0">A vy se pak rozhodnete, zda si ho objednáte.</p>
			</div>
		</div>
		<div class="mt-44">
			<object type="image/svg+xml" data="assets/svg/browser-frame.svg" class="w-full"></object>
		</div>
	</div>
	<div class="w-full">
		<div class="grid grid-cols-3 py-5">
			<div *ngFor="let step of steps; let i = index" class="flex gap-3">
				<div [class]="stepActive == i ? 'bg-black' : 'bg-zinc-500'" class="grid w-8 h-8 rounded-full">
					<div class="m-auto">
						<span *ngIf="stepActive <= i" class="text-xl text-white font-semibold">{{ i + 1 }}</span>
						<div *ngIf="stepActive > i" class="text-lg text-white">
							<i class="fa-solid fa-check"></i>
						</div>
					</div>
				</div>
				<span [class]="step.active ? 'text-black' : 'text-zinc-500'" class="self-center font-bold">{{ step.name }}</span>
			</div>
		</div>
		<div class="mt-8">
			<div class="prose">
				<h2 class="!m-0">Nezávazně Vám vytvoříme web</h2>
				<p class="!m-0">Do 24h se Vám ozveme s hotovým návrhem na e-mail.</p>
			</div>
		</div>
		<div class="flex gap-12 mt-8">
			<div *ngFor="let items of [0, 1]" class="w-full max-w-[375px] p-8 rounded-2xl shadow-xl bg-sky-50">
				<div class="flex gap-4">
					<div class="w-8 h-8 rounded-sm bg-sky-500"></div>
					<span class="text-xl font-bold">Prezenční web</span>
				</div>
				<div class="mt-5">
					<span class="text-3xl font-bold">3000,- Kč</span>
					<span class="text-zinc-600 font-semibold"> / navždy</span>
				</div>
				<div class="grid gap-1 mt-10">
					<div *ngFor="let item of [0, 1, 2, 3, 4, 5]" class="flex gap-4">
						<div class="flex w-5 h-5 rounded-md bg-black">
							<i class="fa-solid fa-check m-auto text-white"></i>
						</div>
						<div class="flex">
							<span class="my-auto font-medium">Doba realizace 3 dny</span>
						</div>
					</div>
					<div class="pb-2 border-t-2 border-t-zinc-400"></div>
					<div *ngFor="let item of [0, 1]" class="flex gap-3">
						<div class="flex w-5 h-5 rounded-md bg-black">
							<i class="fa-solid fa-minus m-auto text-white"></i>
						</div>
						<div class="flex">
							<span class="my-auto font-medium">Doba realizace 3 dny</span>
						</div>
					</div>
				</div>
				<div class="mt-12">
					<div class="btn btn-primary w-full">Zvolit balíček</div>
				</div>
			</div>
		</div>
	</div>
</div>
