<div class="grid w-full pt-24">
	<div class="block grid-flow-col mt-auto lg:grid">
		<div class="my-auto">
			<div class="grid gap-6 prose 2xl:prose-xl">
				<h1 class="font-semibold !m-0">Vytvoříme <span class="text-primary font-bold">informační</span><br />stránky na míru</h1>
				<p class="!m-0">Společně s vámi vytváříme web a ladíme detaily.</p>
			</div>
			<div class="grid grid-flow-row gap-2 w-fit mt-6 sm:grid-flow-col sm:gap-5">
				<div class="btn btn-black rounded-full">Ukažte mi, co umíte</div>
				<div class="btn btn-empty-black rounded-full">Zobrazit ceny</div>
			</div>
		</div>
		<div class="hidden relative w-full lg:flex">
			<div class="flex ml-auto">
				<div class="w-[60%] -mr-24 mt-36 z-10">
					<object type="image/svg+xml" data="assets/svg/phone.svg" class="w-full"></object>
				</div>
				<div class="w-[300%]">
					<object type="image/svg+xml" data="assets/svg/notebook.svg" class="w-full"></object>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="flex w-full my-20 2xl:my-40">
	<div class="max-w-fit mx-auto prose 2xl:prose-xl">
		<h2 class="text-center">Děláme weby za nízké ceny než od konkurence a na kvalitě si dáváme záležet.</h2>
	</div>
</div>
<home-inquireWeb></home-inquireWeb>
