<div class="grid w-full h-[60vh]">
	<div class="block grid-flow-col my-auto lg:grid">
		<div class="my-auto">
			<div class="prose 2xl:prose-xl">
				<h1 class="font-semibold mb-0">Vytvoříme <span class="text-primary font-bold">informační</span><br />stránky na míru</h1>
				<h4 class="">Společně s vámi vytváříme web a ladíme detaily.</h4>
			</div>
			<div class="grid grid-flow-row gap-2 w-fit mt-6 sm:grid-flow-col sm:gap-5">
				<div class="btn btn-black rounded-full">Ukažte mi, co umíte</div>
				<div class="btn btn-empty-black rounded-full">Zobrazit ceny</div>
			</div>
		</div>
		<div class="hidden relative w-full lg:flex">
			<div class="flex ml-auto">
				<div class="w-[60%] -mr-24 mt-36 z-10">
					<object type="image/svg+xml" data="assets/svg/phone.svg" class="w-full"></object>
				</div>
				<div class="w-[300%]">
					<object type="image/svg+xml" data="assets/svg/notebook.svg" class="w-full"></object>
				</div>
			</div>
		</div>
	</div>
</div>
